<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="C:\git\univesp\front-end\assets\styles.css">
  <title>Login</title>
</head>
<body>
  <div class="login-container">
    <img src="C:\git\univesp\front-end\assets\Univesp_logo_jpg_rgb.jpg" alt="Logo de login da univesp" srcset="">
    <h2>Login - Gerenciamento de medicamento</h2>
    <form action="">
      <label>Email</label>
      <input type="email" class="login-container__input"/>
      <label>Senha</label><input type="password" class="login-container__input"/>
      <button class="login-container__button">Entrar</button>
    </form>
  </div>

  <script type="module" src="C:\git\univesp\front-end\controller\LoginController.js"></script> <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', (event) => {
      event.preventDefault(); // Prevent default form submission
     
      const email = document.querySelector('.login-container__input[type="email"]').value;
      const password = document.querySelector('.login-container__input[type="password"]').value;
     
      // Assuming you have a LoginController instance
      if (LoginController.login(email, password)) {
        window.location.href = "/views/home.html"; // Redirect to home page on success
      } else {
        alert("Login nao encontrado")
      }
    });
  </script>
</body>
</html>
